{% extends "base.html" %}

{% block content %}
<div class="header">
    <h2>Bid Details</h2>
    <nav class="navbar">
        <div class="navbar-container">
            <form action="/employeeBidView" method="get" style="display: inline;">
                <button type="submit" class="nav-button">Back</button>
            </form>
        </div>
    </nav>
</div>
{% if message %}
<h3>{{ message }}</h3>
{% endif %}
<div class="bid-details-container">
    <h2>Bid Number: {{ bids.bidNum }}</h2>
    <p><strong>Status:</strong> {{ bids.status }}</p>
    <p><strong>Post Date:</strong> {{ bids.postDate }}</p>
    <p><strong>Close Date:</strong> {{ bids.closeDate }}</p>
    <p><strong>Description:</strong></p>
    <p>{{ bids.description }}</p>
    <p><strong>Start Time:</strong> {{ bids.hours }}</p>
    <p><strong>Awarded:</strong> {{ bids.awarded }}</p>
    <p><strong>Days Off:</strong> {{ bids.daysOff }}</p>
    
    {% if currentUser.role == 'employee' and bids.closeDate >= current_date and bids.postDate >= current_date %}
    <form action="/placeBid" method="post" style="display: inline;">
        <input type="hidden" name="bidNum" value="{{ bids.bidNum }}">
        <input type="hidden" name="EIN" value="{{ currentUser.EIN }}">
        <button type="submit" class="action-button" onclick="return confirm('Bid selection has been placed. You will now see it in your bid view page.');">Place Bid</button>
    </form>
    {% endif %}
</div>
{% endblock %}
