{% extends "base.html" %}

{% block content %}
<div class="header">
    <h2>Update Bid</h2>
</div>
<div class="form-container">
    <p>
        <span><h3 style="display: inline; color: white;">Bid Number:</h3> <span style="color: yellow; font-weight: bold;">{{bids.bidNum}}</span></span>
    </p>
    <form action="/updateBid" method="post">
        <input type="hidden" id="bidNum" name="bidNum" value="{{bids.bidNum}}">
        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" required>
        </div>
        <div class="form-group">
            <label for="postDate">Post Date:</label>
            <input type="date" id="postDate" name="postDate" required>
        </div>
        <div class="form-group">
            <label for="closeDate">Close Date:</label>
            <input type="date" id="closeDate" name="closeDate" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="hours">Start Time:</label>
            <input type="number" id="hours" name="hours" required>
        </div>
        <div class="form-group">
            <label for="awarded">Awarded To:</label>
                <input type="text" id="daysOff" name="awarded" required>
            </select>
        </div>
        <div class="form-group">
            <label for="daysOff">Days Off:</label>
            <input type="text" id="daysOff" name="daysOff" required>
        </div>
        <div class="form-group">
            <button type="submit" class="action-button">Update Bid</button>
        </div>
    </form>
</div>
{% endblock %}
